.navTop {
  background-color: #c20c0c;
  div {
    width: 1100px;
    margin: 0 auto;
    ul {
      padding-left: 180px;
      li {
        margin:0 17px 0;
        font-size: 13px;
        height: 29px;
        color: #fff;
        border-radius:10px;
        span {
          padding:3px 5px;
        }
        span:hover {
          background-color: #9b0909;
        }
      }
    }
  }
}
